@model CarDealership.Data.Make

@{
    ViewBag.Title = "Makes";
}

<h2>Add a New Make</h2>

@using (Html.BeginForm("Makes", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Enter a new make name and hit the submit button.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label" for="MakeName">Make Name: </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MakeName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Cancel", "Makes", "Admin", null, new { @class = "btn btn-default" })
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}


