@model Warehouse.Data2.Order

@{
    ViewBag.Title = "CreateOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Order</h2>

@using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4 class="text-center">Please fill in the criteria below.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2 control-label" for="CustomerName">Customer Name: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="CustomerAddress">Customer Address: </label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CustomerAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel", "GetOrders", "Home", null, new { @class = "btn btn-default" })
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
}

