@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Warehouse</h1>
    <p class="lead">The best warehouse inventory management system in the interwebs.</p>
    <p><a href="~/Home/GetProducts" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Warehouse Orders</h2>
        <p>
            You can create an order to the warehouse system and add products to it via the Products page. There's also the ability to edit order details.
        </p>
        <p><a class="btn btn-default" href="~/Home/GetOrders">View Orders &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Bins</h2>
        <p>Here, you can create and edit bins for organizing your inventory.</p>
        <p><a class="btn btn-default" href="~/Home/GetBins">View Bins &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Inventory</h2>
        <p>The meat and potatoes. You can manage all inventory and their quantities. You can even transfer inventory from one bin to another.</p>
        <p><a class="btn btn-default" href="~/Home/GetAllInventory">View Inventory &raquo;</a></p>
    </div>
</div>